<div>
  <form nz-form [formGroup]="ingredientsForm">
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="name_en">Ingredient</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="name length is at least 3">
        <input nz-input (ngModelChange)="onChange($event)" [nzAutocomplete]="auto" formControlName="name_en"/>
         <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="name_sp">Ingredient (Spanish)</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24" nzErrorTip="name length is at least 3">
        <input nz-input formControlName="name_sp"/>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="cancel()">Cancel</button>
  <button nz-button nzType="primary" [disabled]="!ingredientsForm.valid" (click)="onOk()"
          [nzLoading]="isLoading">Ok
  </button>
</div>
